.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.redirect {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.submit {
    display: flex;
    justify-content: center;
    text-align: center;
}

.submit input {
    margin: 5px 5px;
}