.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.redirect {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.submit {
    display: flex;
    justify-content: center;
    text-align: center;
}

.submit input {
    margin: 5px 5px;
}

.searchbar {
    border: 1px solid grey;
    padding: 3px;
    border-radius: 24px;
    width: 50vw;
}

.advanced-submit {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin-bottom: 5px;
}

.advanced-submit-button {
    display: flex;
    justify-content: flex-end;
    width: 90vw;
}