{% extends "wiki/layout.html" %}

{% block title %}
    Edits
{% endblock %}

{% block body %}
<!-- This page should exist as the default page-->
    <h1>Edits for {{ title }}</h1>

        {% for change in changes %}
            <div class="border border-dark">
                <p><a href="{% url 'edit_view' change.0.id %}">{{ change.0.title }}</a></p>
                <p>{{ change.0.timestamp }}</p>
                {% if change.1.0 %}
                <h3>Sentences added</h3>
                {% for addition in change.1.0 %}
                <p>Line number: {{ addition.line_number }}</p>
                <p>{{ addition.sentence }}</p>
                {% endfor %}
                {% endif %}
                {% if change.1.1 %}
                <h3>Sentences removed</h3>
                {% for removal in change.1.1 %}
                <p>Line number: {{ removal.line_number }}</p>
                <p>{{ removal.sentence }}</p>
                {% endfor %}
                {% endif %}
                {% if change.0.status == 0 %}
                <p>Status: Pending</p>
                {% elif change.0.status == 1 %}
                <p>Status: Accepted</p>
                <p>Accepted by: {{ change.0.approving_user }}
                {% elif change.0.status == 2 %}
                <p>Status: Rejected</p>
                <p>Rejected by: {{ change.0.approving_user }}</p>
                {% endif %}
            </div>
        {% endfor %}

{% endblock %}