{% extends "wiki/layout.html" %}

{% block title %}
profile/{{ profile.username }}
{% endblock %}

{% block body %}
<!-- This page should exist when one tries to search for an article that does not exist -->
    <h1>{{ profile.username }}</h1>
    {% if profile.bio %}
    <p>Bio: {{ profile.bio }}</p>
    {% else %}
    <p>No bio!</p>
    {% endif %}
    {% if expert %}
    <p>Expert in: {{ expert.group }}</p>
    {% else %}
    <p>No expertise</p>
    {% endif %}
    {% if user == profile %}
    <form action="{% url 'edit_profile' profile.username %}">
        <input type="submit" value="Edit profile">
    </form>
    {% elif user.is_authenticated and user != profile %}
    <button id="{{ profile.username }}" class="follow_user">{{ following }}</button>
    {% endif %}
    <hr class="divider">
    <h2>Articles created:</h2>
    <ul>
        {% for article in articles %}
        <li><a href="{% url 'article' article %}">{{ article }}</a></li>
        {% empty %}
        <p>This user has not created any articles!</p>
        {% endfor %}
    </ul>

{% endblock %}